<div ng-controller="CentreController as cc">
	<div class="row">
		<div class="pull-left">
			<h1 id="Title">
				Study {{::cc.resource.items.name}} Collection Centres
			</h1>
		</div>
		<div class="pull-right">
			<br/>
			<div id="Controls" class="align-right">
				<hateoas-controls
					ng-if='cc.allow'
					data-template='cc.template'
					data-href='{{cc.resource.href}}'
					data-slug='{{cc.resource.slug}}'
					data-permissions="cc.allow"
					data-item='cc.resource.items'>
				</hateoas-controls>
			</div>
		</div>
	</div>
	<hr/>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Enrollment</h3>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="col-md-3">
							<div class="panel panel-success">
								<div class="panel-heading">
									<h3 class="panel-title text-center">Total Subjects</h3>
								</div>
								<div class="panel-body">
									<h1 class="text-center">
										<b>77</b>
									</h1>
								</div>
							</div>
						</div>
						<!-- Collection Centres Panel -->
						<div class="col-md-9">
							<table class="table table-hover">
								<thead>
									<tr>
										<th ng-repeat="col in cc.collectionCentres.columns">
											{{col.title}}
										</th>
									</tr>
								</thead>
								<tbody>
									<tr ng-repeat="row in cc.collectionCentres.tableData">
										<td>
											<input type="text" class="form-control" ng-model="row.name"/>
										</td>
										<td>
											<select-loader
												url="user"
												isAtomic="false"
												isDisabled="false"
												values="row.contact"
												labels="prefix firstname lastname"
												outputProperties="id">
											</select-loader>
										</td>
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<td></td>
										<td>
											<button class="btn btn-primary btn-xs" ng-click="cc.addCentre()" ng-if="!cc.addingNew">
												Add New
											</button>
											<button class="btn btn-warning btn-xs" ng-click="cc.cancelAdd()" ng-if="cc.addingNew">
												Cancel
											</button>
										</td>
									</tr>
								</tfoot>
							</table>							
							<button class="btn btn-primary btn-sm"
								ng-click="cc.saveChanges()">
								Save Changes
							</button>
							<button class="btn btn-warning btn-sm"
								ng-click="cc.revertChanges()">
								Revert Changes
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
