<ng-form name="sub_form" ng-hide="loadError">
	<div class="form-group">
		<label for="field.field_id">
			{{field.field_id}}) {{field.field_title}}
		</label>&nbsp;
		<span class="glyphicon glyphicon-ok" ng-show="field.field_value && !showValidateError"></span>
		<div class="row-fluid">
			<isteven-multi-select  
				id="{{field.field_id}}" 
				is-disabled="!field.field_userURL"
				ng-required="field.field_required"
				input-model="multiInput"    
				output-model="multiOutput"
				button-label="{{field.field_labels}}"
				item-label="{{field.field_labels}}"
				output-properties="id"
				tick-property="ticked"
				max-labels="10"
				on-item-click="setValues()"
				on-select-all="setValues()"
				on-reset="fetchData(true)"
				on-select-none="field.field_value = []"
			>
			</isteven-multi-select>
		</div>
		<div ng-show="!sub_form.$pristine">
			<span class="pull-right required-error" ng-show="field.field_required && !field.field_value">* {{field.field_helpertext}}</span>
		</div>
	</div>
</ng-form>