<div class="navbar-container">
  <div class="container">
    <div class="headerWrapper">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <div class="navbar-brand">
            <img alt="Brand" src="assets/img/dados.png">
          </div>
        </div>
      </nav>
    </div>
    <div class="menuWrapper">
      <nav class="navbar navbar-default" role="navigation" ng-if="header.isVisible">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" ng-init="header.menuCollapsed = true"
            ng-click="header.menuCollapsed = ! header.menuCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" collapse="header.menuCollapsed">
          <ul class="nav navbar-nav">
            <li ng-repeat="link in ::header.navigation"
              ng-class="{ 
                'active': link.isActive, 
                'dropdown': link.dropdown
              }">
              <!-- Single Link -->
              <a href="#{{ ::link.href }}" ng-if="!link.dropdown">
                <i class="fa {{ ::link.icon }}"></i>
                {{ ::link.prompt }}
              </a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/logout" ng-click="header.logout()">
                <i class="fa fa-sign-out"></i>
                Logout
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</div>
