<div class="modal-body">    
    <blockquote>
        <p>{{ error.message }}</p>
    </blockquote>
    <dl class="dl-horizontal">
        <div ng-if="error.hostname">
            <dt>Hostname</dt><dd>{{ error.hostname }}</dd>
        </div>
        <div ng-if="error.browser">
            <dt>Browser</dt><dd>{{ error.browser }}</dd>
        </div>
        <div ng-if="error.currentUser">
            <dt>Username</dt><dd>{{ error.currentUser.username }}</dd>
            <dt>Email</dt><dd>{{ error.currentUser.email }}</dd>
            <dt>Role</dt><dd>{{ error.currentUser.role }}</dd>
        </div>
        <div ng-if="error.memoryDump">
            <dt>Memory Usage</dt><dd>{{ error.memoryDump.usage || 'unable to determine'}}</dd>
        </div>
        <div ng-if="error.geolocation">
            <dt>Geolocation</dt><dd>{{ error.geolocation || 'unable to determine'}}</dd>
            <dt>Accuracy</dt><dd>{{ error.accuracy || 'unable to determine'}}</dd>
        </div>
        <div ng-if="error.screenshot">
        <dt>Screenshot</dt>
        <dd>
            <button type="button" class="btn btn-info btn-xs" ng-click="isDisplayed = !isDisplayed">
                Hide/Show
            </button>
            <div ng-init="isDisplayed = false" ng-show="isDisplayed">
                <img class="img-responsive" src="{{error.screenshot}}">
            </div>
        </dd>
        </div>
    </dl>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" data-ng-click="reconnect()">Attempt Reconnect</button>
    <button class="btn btn-danger" data-ng-click="sendError(error)">Send Error Report</button>
</div>