<div class="btn-group btn-group-sm">
	<button class="btn btn-default" ng-click="addLeft()"
	 tooltip="Add cell to the left">
		<span class="glyphicon glyphicon-log-in flip"></span>
	</button>
	<button class="btn btn-default" ng-click="shrink()"
		ng-hide="!shrinkable()" tooltip="Shrink cell">
		<span class="glyphicon glyphicon-resize-small"></span>
	</button>
	<button class="btn btn-default" ng-click="expand()"
		ng-hide="!expandable()"
		tooltip="Expand cell">
		<span class="glyphicon glyphicon-resize-full"></span>
	</button>
	<button class="btn btn-primary" ng-click="configure()"
		tooltip="Configure widget">
		<span class="glyphicon glyphicon-cog"></span>
	</button>
	<button class="btn btn-warning"
		ng-hide="cellCount <= 1" ng-click="remove($index)"
		tooltip="Delete widget">
		<span class="glyphicon glyphicon-trash"></span>
	</button>
	<button class="btn btn-default" ng-click="addRight()"
		tooltip="Add cell to the right">
		<span class="glyphicon glyphicon-log-in"></span>
	</button>
</div>
