<label for="uuid:{{ widget.uuid || plugin.id + ':' + widget.id}}" 
	ng-if="widget.label">
	{{ widget.label }}
	<ui-help popover="{{ widget.properties.title }}" 
		popover-placement="right"
		ng-show="widget.properties.title"></ui-help>
	<span class="glyphicon glyphicon-floppy-saved text-success" 
	      ng-if="widgetModel.status === 'saved'">
	</span>
	<button class="btn btn-danger btn-xs" ng-if="widgetModel.status === 'error'"
	  popover="An error occurred saving this question. Click here to a manually save."
	  popover-trigger="mouseenter"
	  ng-click="manualSave()"
	  >
		<span class="glyphicon glyphicon-floppy-save">
		</span>
		Save
	</button>
</label>