<input type="text"
    class="form-control"
	datepicker-popup
	show-weeks="false"
	ng-model="widgetModel.value"
	name="{{ widget.name }}"
	id="uuid:{{ widget.uuid || plugin.id + ':' + widget.id}}"
	title="{{widget.properties.title }}"
	placeholder="{{widget.properties.title }}"
	size="{{widget.properties.size }}"
	ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
	min-date="{{widget.properties.min }}"
	max-date="{{widget.properties.max }}"
	ng-readonly = "true"
	is-open="opened"
	ng-click="opened = true"
	ng-pattern="{{widget.properties.pattern }}"
/>
