<span class="{{ widget.properties.blockDisplay }}"><input type="number" 
	id="uuid:{{ widget.uuid || plugin.id + ':' + widget.id}}"
	name="{{ widget.name }}"
	ng-model="widgetModel.value"
	title="{{widget.properties.title}}"
	value="{{widget.properties.value }}"
	placeholder="{{widget.properties.title}}"
	min="{{widget.properties.min}}"
	max="{{widget.properties.max}}"
	step="{{widget.properties.step}}"
	size="{{widget.properties.size}}"
	ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0} }"
	class="form-control"
	ng-pattern="{{widget.properties.pattern}}"
/>