<ng-form name="sub_form">
  <div class="form-group">
    <label for="field.field_id">
      {{field.field_id}}) {{field.field_title}}
    </label>&nbsp;
    <span class="glyphicon glyphicon-ok" ng-show="field.field_value"></span>
   
    <p class="input-group">
      <input type="text" 
        id="field.field_id" 
        name="{{field.field_name}}" 
        ng-model="field.field_value"
        value="{{ field.field_value | date:'fullDate' }}"
        ng-required="field.field_required"
        class="form-control"
        datepicker-popup
        ng-model="dt" 
        is-open="opened"
        disabled/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openDate($event); opened = true"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
    <div ng-show="!sub_form.$pristine">
      <span class="pull-right required-error" ng-show="field.field_required && !field.field_value">* {{field.field_helpertext}}</span>
    </div>
  </div>
</ng-form>
