<ng-form name="sub_form" ng-hide="loadError">
	<div class="form-group">
		<label for="field.field_id">
			{{field.field_id}}) {{field.field_title}}
		</label>&nbsp;
		<span class="glyphicon glyphicon-ok" ng-show="field.field_value && sub_form.$valid"></span>
    <span class="pull-right" ng-show="field.field_questions.length > 0">
      <input type="checkbox" ng-model="selectToggle" ng-change="toggleSelectCreate()"/> Create New
    </span>
    <div class="row-fluid" ng-switch="selectToggle" ng-style="{ 'margin-left': '20px' }">
      <fieldset class="well" ng-switch-when="true">
        <field-directive ng-repeat="subfield in field.field_questions" field="subfield"></field-directive>
      </fieldset>
      <select-loader
        ng-switch-default
        id="{{field.field_id}}"
        url="{{field.field_userURL || field.field_name}}"
        is-atomic="true"
        is-disabled="false"
        ng-required="field.field_required"
        values="field.field_value"
        labels="{{field.field_labels || 'name prefix firstname lastname'}}"
        output-properties="id">
      </select-loader>
    </div>
		<div ng-show="!sub_form.$pristine && sub_form.$invalid">
			<span class="pull-right required-error" ng-show="field.field_required && !field.field_value">* {{field.field_helpertext}}</span>
		</div>
	</div>
</ng-form>
