.grid-settings {
	position: absolute;
	top: 2em;
	right: 0;
	border: 1px solid #e5e5e5;
	border-radius: 1em 0em 1em 1em;
	padding: 1em;
	width: 240px;
	background-color: rgba(255, 255, 255, 0.5);
}

.open-controls {
	position: absolute;
	top: -0.5em;
	right: 0;
	width: auto;
	height: 2em;
	line-height: 1em;
	vertical-align: middle;
}

.ui-grid {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

	.cell.trash {
		opacity: 0.5;
	}

	.ui-list li {
		width: 100% !important;
	}
	
	.cell:hover {
		background-color: #dff0d8;
	}
	
	.cell {
		vertical-align: top;
		margin-top: 0 !important; /* override bootstrap */
	}

	.cell .panel-body {
		border-top: none !important; /* override bootstrap */
	}

	.cell .panel-footer {
		display: none;
	}
	
	.cell:hover .panel-footer {
		display: block;
	}

	.ui-grid .cell {
		display: inline-block;
		/* Minimum Mobile Resolution: QVGA 240x320 */
		min-width: 240px;
	}
	
	.cell .checkbox {
		min-width: 240px;
	}
	
	.ui-grid .cell .panel-body {
		border-top: none;
	}