/* @Override bootstrap */

body > .plugin-editor {
	position: absolute;
	top: 0;
	bottom: 4em;
	left: 0;
	right: 0;
	overflow: auto;
}

body > .controls {
	position: absolute;
	bottom: 1em;
	left: 2em;
	right: 2em;
}

.form-horizontal .cell .form-group {
	margin: 0;
}

	.widget-configurator form:not(.preview) .form-group > * {
		display: inline-block;
	}
	

	.widget-configurator form:not(.preview) .form-group > label {
		width: 12em;
	}
	
	.widget-configurator form:not(.preview) .form-group .form-control {
		width: 20em !important;
	}

	.form-group textarea,
	.time-picker table td {
		vertical-align: top;
	}
	
	 form:not(.preview) .form-group textarea {
		resize: none;
		display: inline-block;
		width: auto;
	}
	
.tab-pane {
	padding: 1em;
}

.modal-dialog {
	min-width: 600px;
	width: 80%;
}

.broken label {
	text-decoration:line-through
}