<div ng-controller="HateoasController">
  <h1 id="Title">
    {{ pageTitle }}
    <small>
      Total: {{resource.count}}
    </small>
  </h1>
  <div id="Query" class="clearfix">
    <query-builder 
      template="resource.template" 
      ng-model="query.where"
      ng-if="resource.template">
    </query-builder>
  </div>
  <div id="Controls" class="align-right">
    <hateoas-controls
      ng-if='allow'
      data-template='template'
      data-href='{{resource.href}}'
      data-slug='{{resource.slug}}'
      data-permissions='allow'
      data-item='selected'
    ></hateoas-controls>
  </div>
  <table id="Collection" ng-table="tableParams" class="table">
    <thead>
      <tr>
        <th ng-repeat="column in template.data"
          ng-if="!column.data"
          class="text-center sortable" ng-class="{
            'sort-asc': tableParams.isSortBy(column.name, 'asc'),
            'sort-desc': tableParams.isSortBy(column.name, 'desc')
          }" 
          ng-click="tableParams.sorting(column.name, tableParams.isSortBy(column.name, 'asc') ? 'desc' : 'asc')">
          {{ column.prompt }}
        </th>
        <th ng-if="template.rel == 'form'">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in $data"
        ng-click="select(item)"
        ng-class="{'active': item === selected}">
        <td ng-repeat="column in template.data"
          ng-if="!column.data"
          sortable="column.name">
          {{ item[column.name] | formatter:column }}
        </td>
        <td ng-if="template.rel == 'form'">
          <button type="button" class="btn btn-default"
            ng-if="item.form_type !== 'system'"
            form-popup template="item" on-submit="actions.ok()" on-cancel="actions.cancel()">
            <i class="fa fa-pencil"></i>
            Complete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
