<div class="table-responsive">
  <table ng-table="tableParams" class="table table-hover table-condensed">
    <thead>
    <tr>
      <!-- Header Columns for Data -->
      <th ng-repeat="column in ledit.columns" class="sortable text-left"
          ng-class="{selectEdit: column.$edit && ledit.canEditItem}"
          ng-click="ledit.sortTable(column)">
        <button ng-hide="ledit.editCol || ledit.editRow || ledit.canEditItem || ledit.canDelCol"
                type="button" class="pull-left close"
                ng-if="ledit.canEdit"
                ng-click="ledit.removeColumn($index)">
          <span aria-hidden="true">&times;</span>&nbsp;
        </button>
        <span class="pull-left" ng-if="!column.$edit">
          {{column.title}}&nbsp;
          <i ng-class="{
            'fa fa-sort-asc': ledit.isSortBy(column.field, 'asc'),
            'fa fa-sort-desc': ledit.isSortBy(column.field, 'desc')
          }"></i>
        </span>

        <div ng-if="column.$edit">
          <input type="text" class="form-control"
                 ng-model="column.title"
                 ng-disabled="ledit.canEditHeader"/>
        </div>
        <i ng-hide="ledit.editCol || ledit.editRow || ledit.canEditItem"
           class="fa fa-pencil selectable pull-right"
           ng-if="ledit.canEdit"
           ng-click="ledit.selectColumnEdit(column)"></i>
      </th>
      <!-- Edit Column Header -->
      <th ng-if="!ledit.editCol && ledit.canEdit"
          ng-show="{{ledit.canAddNewcol}}" width="45">
        <button class="btn btn-default btn-sm"
                ng-if="!ledit.editCol"
                ng-disabled="ledit.editRow || ledit.canEditItem"
                ng-click="ledit.editNewColumn()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </th>
      <!-- Action Column Header -->
      <th ng-if="ledit.editCol && ledit.canEdit" class="selectEdit">
        <input type="text"
               placeholder="New Column Title" class="form-control"
               ng-model="ledit.columnBuffer.title"/>
      </th>
      <th ng-if="ledit.canEdit">Actions</th>
    </tr>
    <tr ng-if="ledit.showEditCol">
      <th ng-repeat="column in ledit.columns">
        <div ng-if="ledit.showEditCol && !column.$edit && ledit.canEdit"
             ng-hide="ledit.editCol || ledit.editRow || ledit.canEditItem" class="btn-group">
          <button class="btn btn-default btn-xs"
                  ng-if="ledit.canEdit"
                  ng-click="ledit.selectColumnEdit(column)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button class="btn btn-danger btn-xs"
                  ng-if="ledit.canEdit"
                  ng-click="ledit.removeColumn($index)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </th>
    </tr>
    </thead>
    <tbody ng-form="ledit.colForm">
    <tr ng-repeat="item in $data track by $index" ng-class="{selectEdit: item.$edit && ledit.canEditItem}" ng-form="ledit.rowForm_{{$index}}">
      <!-- Render each cell per row of data -->
      <td ng-repeat="column in ledit.columns track by $index"
          ng-class="{selectEdit: column.$edit && ledit.canEditItem}">
        <span ng-if="!item.$edit && !column.$edit">{{item[column.field]}}</span>

        <div ng-if="item.$edit" data-ng-switch="column.type">
          <div data-ng-switch-when="text">
            <input type="text" name="rowForm_{{$parent.$index}}_{{$index}}" class="form-control"
                   ng-model="item[column.field]" placeholder="{{item[column.field]}}" required/>
          </div>
          <div data-ng-switch-when="number">
            <input type="number" name="rowForm_{{$parent.$index}}_{{$index}}" min="0" class="form-control"
                   ng-model="item[column.field]" required/>
          </div>
          <div data-ng-switch-when="dropdown">
            <select name="rowForm_{{$parent.$index}}_{{$index}}"
                    class="form-control" ng-model="item[column.field]" required>
              <option value="" disabled>Select an option</option>
              <option ng-repeat="option in column.options" value="{{option.value}}"
                      ng-selected="item[column.field] === option.value">{{option.prompt}}
              </option>
            </select>
          </div>
        </div>
        <div ng-if="column.$edit" data-ng-switch="column.type">
          <div data-ng-switch-when="text">
            <input type="text" class="form-control" name="colForm_{{$parent.$index}}_{{$index}}"
                   ng-model="item[column.field]" placeholder="{{item[column.field]}}" required/>
          </div>
          <div data-ng-switch-when="number">
            <input type="number" min="0" class="form-control" name="colForm_{{$parent.$index}}_{{$index}}"
                   ng-model="item[column.field]" required/>
          </div>
          <div data-ng-switch-when="dropdown">
            <select name="colForm_{{$parent.$index}}_{{$index}}"
                    class="form-control" ng-model="item[column.field]" required>
              <option value="" disabled>Select an option</option>
              <option ng-repeat="option in column.options" value="{{option.value}}"
                      ng-selected="item[column.field] === option.value">{{option.prompt}}
              </option>
            </select>
          </div>
        </div>
      </td>
      <!-- Render nothing on non-column edit mode -->
      <td ng-if="!ledit.editCol && ledit.canEdit" ng-show="{{ledit.canAddNewcol}}" width="45"></td>
      <!-- Render optional inputs when creating new columns -->
      <td ng-if="ledit.editCol && ledit.canEdit" ng-show="{{ledit.canAddNewcol}}" class="selectEdit">
        <div data-ng-switch="ledit.columnBuffer.type">
          <div data-ng-switch-when="text">
            <input type="text" class="form-control" ng-model="ledit.columnBuffer.data[$index]"/>
          </div>
          <div data-ng-switch-when="number">
            <input type="number" min="0" class="form-control" ng-model="ledit.columnBuffer.data[$index]"/>
          </div>
          <div data-ng-switch-when="dropdown">
            <select class="form-control" ng-model="ledit.columnBuffer.data[$index]" required>
              <option value="" disabled>Select an option</option>
              <option ng-repeat="option in column.options" value="{{option.value}}"
                      ng-selected="item[column.field] === option.value">{{option.prompt}}
              </option>
            </select>
          </div>
        </div>
      </td>
      <!-- Render action cells for editing rows -->
      <td width="90" ng-if="ledit.canEdit">
        <div class="btn-group" ng-if="!item.$edit">
          <button id="selectRowEditID_{{$index}}" class="btn btn-default btn-sm"
                  ng-disabled="ledit.editCol || ledit.editRow || ledit.canEditItem"
                  ng-click="ledit.selectRowEdit(item)">
            <span class="glyphicon glyphicon-pencil"></span>
          </button>
          <button id="removeRowID_{{$index}}" class="btn btn-danger btn-sm"
                  ng-disabled="ledit.editCol || ledit.editRow || ledit.canEditItem"
                  ng-click="ledit.removeRow(item)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>
        </div>
        <div class="btn-group" ng-if="item.$edit">
          <button id="toggleEditID_{{$index}}" class="btn btn-primary btn-sm"
                  ng-disabled="ledit.rowForm_{{$index}}.$invalid"
                  ng-click="ledit.toggleEdit(item)">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <button id="cancelRowEditID_{{$index}}" class="btn btn-warning btn-sm"
                  ng-click="ledit.cancelRowEdit(item)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
          <span class="pull-right required-error"
                ng-show="ledit.rowForm_{{$index}}.$invalid">
            * Invalid value(s)
          </span>
        </div>
      </td>
    </tr>
    </tbody>
    <tfoot ng-if="ledit.canEdit">
    <tr>
      <!-- Placeholder inputs for creating new rows -->
      <td data-title="column.title" ng-repeat="column in ledit.columns"
          ng-class="{selectEdit: column.$edit && ledit.canEditItem}">
        <input ng-if="ledit.editRow" class="form-control"
               ng-disabled="ledit.editCol || ledit.canEditItem"
               placeholder="New {{column.field}}" type="{{column.type}}"
               ng-model="ledit.rowBuffer[column.field]"/>

        <div ng-if="column.$edit">
          <button class="btn btn-primary btn-sm" ng-click="ledit.toggleEdit(column)"
                  ng-disabled="ledit.colForm.$invalid">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <button class="btn btn-warning btn-sm" ng-click="ledit.cancelColumnEdit(column)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
          <span class="pull-right required-error"
                ng-show="ledit.colForm.$invalid">
            * Invalid value(s)
          </span>
        </div>
      </td>
      <!-- Render input type option and field name input when creating columns -->
      <td ng-show="{{ledit.canAddNewcol}}" ng-class="{'selectEdit': ledit.editCol}">
        <div ng-if="ledit.editCol">
          <input class="form-control"
                 placeholder="New field key" type="text"
                 ng-model="ledit.columnBuffer.field"/>
          <select class="form-control"
                  ng-model="ledit.columnBuffer.type"
                  ng-change="ledit.columnBuffer.data = {}">
            <option value="text">Textfield</option>
            <option value="number">Number</option>
          </select>
          <br/>
          <button class="btn btn-primary btn-sm"
                  ng-disabled="!ledit.canAddCol"
                  ng-click="ledit.addColumn()">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <button class="btn btn-warning btn-sm"
                  ng-click="ledit.reset(true)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </td>
      <!-- Action handlers for creating and cancelling row creation -->
      <td ng-show="{{ledit.canAddNewrow}}" width="90">
        <div class="btn-group">
          <button ng-if="!ledit.editRow" class="btn btn-primary btn-sm"
                  ng-disabled="ledit.editCol || ledit.canEditItem"
                  ng-click="ledit.editNewRow()">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
          <button ng-if="ledit.editRow" class="btn btn-primary btn-sm"
                  ng-disabled="ledit.editCol || !ledit.canAddRow"
                  ng-click="ledit.addRow()">
            <span class="glyphicon glyphicon-ok"></span>
          </button>
          <button ng-if="ledit.editRow" class="btn btn-warning btn-sm"
                  ng-disabled="ledit.editCol" ng-click="ledit.reset(true)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>
        </div>
      </td>
    </tr>
    </tfoot>
  </table>
</div>
