<div ng-controller="StudyOverviewController as study" class="container-fluid">
	<div id="Links">
		<div class="btn-group">
			<button class="btn btn-default align-right"
				ng-click="study.follow(link)"
				ng-repeat="link in ::study.resource.items.links">
				{{ ::link.prompt }}
			</button>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h1 class="panel-title">
						Study {{::study.resource.items.name}} Overview
					</h1>
				</div>
				<div class="panel-body">
					<div id="Controls" class="align-right">
						<hateoas-controls
							ng-if='study.allow'
							data-template='study.template'
							data-href='{{study.resource.href}}'
							data-permissions="study.allow"
							data-item='study.resource.items'>
						</hateoas-controls>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Study Information</h3>
						</div>
						<div class="panel-body">
							<simple-table tabledata="study.info"></simple-table>
						</div>
					</div>
				</div>		
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-info">
						<div class="panel-heading">
							<h3 class="panel-title">Enrollment</h3>
						</div>
						<div class="panel-body">
							<div class="row">
								<div class="col-md-4">
									<div class="panel panel-success">
										<div class="panel-heading">
											<h3 class="panel-title text-center">Total Subjects</h3>
										</div>
										<div class="panel-body">
											<h1 class="text-center">
												<b>77</b>
											</h1>
										</div>
									</div>
								</div>
								<div class="col-md-8">
									<simple-table tabledata="study.enrollment"></simple-table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6">
			<div class="well">
				<form-directive form="study.clinicalForm" on-submit="study.generateReport()"></form-directive>
			</div>
		</div>		
	</div>
</div>
