/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */

@import '../../vendor/bootstrap/less/bootstrap.less';
@import '../../vendor/bootstrap/less/glyphicons.less';
@import '../../vendor/font-awesome/less/font-awesome.less';

/**
 * This is our main variables file. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

@import 'variables.less';

/**
 * Typography
 */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url(fonts/Roboto-Regular.woff) format('woff');
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("glyphicons-halflings-regular.eot");
  src: url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
  url('glyphicons-halflings-regular.woff') format('woff'), 
  url('glyphicons-halflings-regular.ttf') format('truetype'),
  url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'FontAwesome';
  src: url("fontawesome-webfont.eot");
  src: url('fontawesome-webfont.eot?#iefix') format('embedded-opentype'), 
  url('fontawesome-webfont.woff') format('woff'), 
  url('fontawesome-webfont.ttf') format('truetype'),
  url('fontawesome-webfont.svg#fontawesomeregular') format('svg');
}

html, body {
  margin: 0px;
}

a {
  cursor: pointer; 
  cursor: hand;
}

.container {
  padding-left: 60px;
  padding-right: 60px;
}

/**
 * Navigation
 */
#logo_dados {
  float:left;
  padding-right: 15px;
  margin-bottom: 5px;
}
#subBrand {
  float: right;
  width: 200px;
  position: relative;
  top: 18px;
  padding-left: 15px;
  background: url(img/dottedLine_vert.gif) top left repeat-y;
  margin: 0;
  overflow: hidden;
  height: 34px;  
}
#subBrand_site {
  font-size: 12px;
  color: #ccc;
  margin: 0;
  text-transform: uppercase;
}
#subBrand_dep {
  font-size: 16px;
  color: #E79851;
  vertical-align: text-bottom;
  margin: 0;
  text-transform: uppercase;
}
#tagline {
  clear: both;
  font-size: 11px;
  color: #ccc;
}
#profile_panel {
  margin-top: -20px;
  background: #00538B url(img/profile_panel_bg.png) no-repeat left bottom;
  height: auto;
  width: 289px;
  padding: 0 0 1px 0;
  overflow: hidden;
}
#profile_pannel_inner {
  padding: 10px 14px 10px 16px;
  margin: 0 8px 8px 8px;
  height: auto;
  border-bottom: #E79851 solid 6px;
  background-position: left bottom;
  background-repeat: no-repeat;
}
#logout {
  width: 24px;
  height: 24px;
  position: relative;
  display: block;
  top: 5px;
  right: 0;
  float: right;
  border: none;

}
#logout_img {
  content:url(img/ico_logout.png);
  width: 24px;
  height: 24px;
  border: 0;
}
.profile_title {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 16px;
  color: #fff;
  text-transform: none;
  padding: 4px 0 0 0;
}
.profile_content {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 10px;
  color: #fff;
  margin: 3px 2px 3px 0;
  text-align: left;
  padding: 18px 0 0 0;
}

.navbar-container {
  background-color: @headerColour;
}
.navbar-collapse {
  padding-left: 0px;
}
.headerWrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  .navbar-default {
    background-color: @headerColour;
    border-color: @headerColour;
  }
}
.menuWrapper {
  .navbar {
    margin-bottom: 0px;
  }
  .navbar-default {
    background-color: @menuColour;
    border-color: @menuColour;
  }
}
.submenuWrapper {
  margin-bottom: 10px;
  .navbar {
    margin-bottom: 0px;
  } 
  .navbar-inverse {
    background-color: @submenuColour;
    border-color: @submenuColour;
  }
  -moz-box-shadow: 0px 4px 7px -2px #666;
  -webkit-box-shadow: 0px 4px 7px -2px #666;
  box-shadow: 0px 4px 7px -2px #666;
}
.submenu-link-colour {
  color: @submenuLinkColour;
}

/**
 * Collection
 */
#Title {
  color: @orange;
}

/**
 * Footer
 */

.footer {
  margin-top: 80px;

  .footer-inner {
    padding: 40px 0;
    border-top: 1px solid #DDD;
  }
}

.no-top {
  top: 0 !important;
}

.align-right {
  text-align: right !important;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../../vendor/ng-table/ng-table.less';
@import (inline) '../../vendor/angular-toastr/dist/angular-toastr.css';

@import '../app/workflow/workflow.less';
@import '../app/study/studyViewOverview.less';

@import '../common/directives/formBuilder/form-builder.less';



