<div class="modal-header">
  <h3 class="modal-title">Add Survey</h3>
</div>
<div class="modal-body" ng-class="{ 'text-center': addSurvey.saving }">
  <div ng-class="{ 'dots-loader': addSurvey.saving }"></div>
  <survey-builder ng-hide="addSurvey.saving" study="editSurvey.study"
                  forms="addSurvey.forms"
                  survey="addSurvey.newSurvey"
                  is-valid="addSurvey.isValid"></survey-builder>
</div>
<div class="modal-footer">
  <button type="submit" id="submitSurvey" class="btn btn-primary"
          ng-disabled="!addSurvey.isValid || addSurvey.saving" ng-click="addSurvey.save()">
    Save
  </button>
  <button type="button" id="cancelBtn" class="btn btn-warning"
          ng-disabled="addSurvey.saving"
          ng-click="addSurvey.cancel()">
    Cancel
  </button>
</div>
