<div ng-controller="clientController as vm">
  <div class="row">
    <div class="col-md-12" style="padding-left: 5px;padding-right: 5px">
      <div class="panel panel-default">
        <div class="panel-body" style="padding: 0">
          <div class="row" style="height: 35px">
            <div class="col-sm-9" style="padding: 0;background-color: #f3f3f3">
              <div class="boxer">
                <div class="box-row">
                  <div class="box"><a data-ng-click="AddClient()" href="#/newClient" class="btn btn-primary btn-sm"><img
                    src="/assets/icons/edit-add-2.png" alt="New"/></a></div>
                  <div class="box"><a ui-sref="app.editClient.client({mrn:mySelectedItems[0].mrn})"
                                      ng-class="{'disabled':!mySelectedItems.length}"
                                      class="btn btn-primary btn-sm"><img src="/assets/icons/edit-2.png"
                                                                          alt="Edit"/></a></div>

                </div>

              </div>
            </div>
            <div class="col-sm-3" style="padding: 0;background-color: #f3f3f3">
              <div class="pull-right">
                <label>
                  <select name="number-records" aria-controls="number-records" class="form-control input-sm"
                          ng-model="myPageItemsCount">
                    <option value="15">15</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </label>
              </div>
            </div>
          </div>

          <div class="row" style="background-color: #f3f3f3">


            <table tr-ng-grid="" locale="en" items="resource" selected-items="mySelectedItems"
                   selection-mode="SingleRow" current-page="myCurrentPage" page-items="myPageItemsCount"
                   total-items="myItemsTotalCount"
                   on-data-required="onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)">
              <thead>
              <tr>

                <th field-name="MRN" display-name="MRN">

                </th>
                <th field-name="FirstName"></th>
                <th field-name="LastName"></th>
                <th field-name="City"></th>
                <th field-name="Province"></th>
                <th field-name="PostalCode"></th>
                <th field-name="HomePhone"></th>
                <th field-name="Fax"></th>
                <th field-name="HomeEmail"></th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td field-name="mrn" style="cursor: pointer">
                  <a ui-sref="app.clientDetails({mrn:gridItem.mrn})">{{gridItem.mrn}}</a>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
