<div class="modal-header">
  <h3 class="modal-title">Add User to Study</h3>
</div>
<div class="modal-body">
  <form class="form-inline">
    <div class="form-group">
      <label for="userInput">User&nbsp;</label>
      <select-loader
        id="userInput"
        url="user"
        is-atomic="true"
        is-disabled="false"
        values="addUser.newUser.user"
        labels="prefix firstname lastname"
        output-properties="id">
      </select-loader>
    </div>
    <div class="form-group">
      <label for="centreInput">Collection Centre&nbsp;</label>
      <select-loader
        id="centreInput"
        url="{{addUser.centreHref}}"
        is-atomic="false"
        is-disabled="false"
        values="addUser.newUser.collectioncentre"
        labels="name"
        output-properties="id">
      </select-loader>
    </div>
    <div class="form-group">
      <label for="roleInput">Role&nbsp;</label>
      <select id="roleInput" class="form-control" ng-model="addUser.newUser.role" required="required">
        <option value="coordinator">Coordinator</option>
        <option value="interviewer">Interviewer</option>
      </select>
    </div>
    <button type="submit" id="addUserBtn" class="btn btn-primary" ng-click="addUser.addUser()"
      ng-disabled="!addUser.newUser.user || !addUser.newUser.collectioncentre || !addUser.newUser.role">
      Add User
    </button>
  </form>
</div>