<div ng-controller="StudyUserController as studyUser">
  <h1 id="Title">
    {{ pageTitle }}
    <small>
      Total: {{studyUser.resource.count}}
    </small>
  </h1>
  <div id="Query" class="clearfix">
    <query-builder
      template="studyUser.resource.template"
      ng-model="studyUser.query.where"
      ng-if="studyUser.resource.template">
    </query-builder>
  </div>

  <div id="Controls" class="pull-right">
    <div class="btn-group">
      <button type="button" class="btn btn-default"
        ng-if="studyUser.allow.read"
        ng-click="studyUser.openUser()"
        ng-disabled="!!!studyUser.selected">
        <i class="fa fa-folder-o"></i>
        View User
      </button>
      <button type="button" class="btn btn-default"
        ng-if="studyUser.allow.create"
        ng-click="studyUser.openAddUser()">
        <i class="fa fa-file-o"></i>
        Add User
      </button>
      <button type="button" class="btn btn-default"
        ng-if="studyUser.allow.update"
        ng-click="studyUser.saveChanges()">
        <i class="fa fa-floppy-o"></i>
        Save Changes
      </button>
      <button type="button" class="btn btn-default"
        ng-if="studyUser.allow.delete"
        ng-click="studyUser.archiveUser()"
        ng-disabled="!!!studyUser.selected">
        <i class="fa fa-trash-o"></i>
        Archive
      </button>
    </div>
  </div>

  <table id="Collection" ng-table="tableParams" class="table table-hover">
    <thead>
      <tr>
        <th ng-repeat="column in studyUser.template.data"
          ng-if="!column.data"
          class="text-center sortable" ng-class="{
            'sort-asc': tableParams.isSortBy(column.name, 'asc'),
            'sort-desc': tableParams.isSortBy(column.name, 'desc')
          }"
          ng-click="tableParams.sorting(column.name, tableParams.isSortBy(column.name, 'asc') ? 'desc' : 'asc')">
          {{ column.prompt }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in studyUser.resource.items"
        ng-click="studyUser.select(item)"
        class="selectable"
        ng-class="{'active': item === studyUser.selected}">
        <td ng-repeat="column in studyUser.template.data"
          ng-if="!column.data"
          sortable="column.name">
          <div ng-switch="column.type">
            <div ng-switch-when="singleselect">
              <select-loader
                url="{{column.value}}"
                is-atomic="true"
                is-disabled="false"
                values="item[column.name]"
                labels="name"
                output-properties="id">
              </select-loader>
            </div>
            <div ng-switch-when="multiselect">
              <select-loader
                url="{{column.value}}"
                is-atomic="false"
                is-disabled="false"
                values="item[column.name]"
                labels="name"
                output-properties="id">
              </select-loader>
            </div>
            <div ng-switch-when="dropdown">
              <select ng-model="item[column.name]" class="form-control">
                <option value="coordinator">Coordinator</option>
                <option value="interviewer">Interviewer</option>
              </select>
            </div>
            <div ng-switch-default>
              {{ item[column.name] | formatter:column }}
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>

</div>
