<div ng-controller="WorkflowController">
  <h1>Workflow Editor</h1>
  <div class="form-group">
    <label for="workflowState">
      Select workflow state:
    </label>
    <select
      class="form-control"
      id="workflowState"
      ng-model="state.source"
      ng-options="workflow as workflow.path for workflow in workflows.items">
      <option value="">-- New --</option>
    </select>
  </div>

  <h2>JSON Tree Editor</h2>
  <div class="jsonView" defocus>
    <json child="state.data" type="'object'"></json>
  </div>
  
  <h2>JSON Text Editor</h2>
  <div>
    <div ui-ace="{
      mode: 'javascript',
    }" ng-model="state.string"></div>
    <span class="red" ng-if="!wellFormed">JSON not well-formed!</span>
  </div>

  <h3>Actions</h3>
  <div>
    <button type="button" 
      class="btn btn-default" 
      ng-click="save(state.data)">
      <span class="fa fa-floppy-o"></span>
      Save
    </button>
    <button type="button" class="btn btn-default" ng-click="archive(state.data)">
      <span class="fa fa-archive"></span>
      Archive
    </button>
  </div>
</div>
