<div ng-controller="HateoasController as hateoas">
  <h1 id="Title">
    {{ pageTitle }}
    <small>
      Total: {{hateoas.resource.count}}
    </small>
  </h1>
  <div id="Query" class="clearfix">
    <query-builder 
      template="hateoas.resource.template" 
      ng-model="hateoas.query.where"
      ng-if="hateoas.resource.template">
    </query-builder>
  </div>
  <div id="Controls" class="align-right">
    <hateoas-controls
      ng-if='hateoas.allow'
      data-template='hateoas.template'
      data-href='{{hateoas.resource.href}}'
      data-slug='{{hateoas.resource.slug}}'
      data-permissions='hateoas.allow'
      data-item='hateoas.selected'
    ></hateoas-controls>
  </div>

  <table id="Collection" ng-table="tableParams" class="table">
    <thead>
      <tr>
        <th ng-repeat="column in hateoas.template.data"
          ng-if="!column.data"
          class="text-center sortable" ng-class="{
            'sort-asc': tableParams.isSortBy(column.name, 'asc'),
            'sort-desc': tableParams.isSortBy(column.name, 'desc')
          }" 
          ng-click="tableParams.sorting(column.name, tableParams.isSortBy(column.name, 'asc') ? 'desc' : 'asc')">
          {{ column.prompt }}
        </th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in $data"
        ng-click="hateoas.select(item)"
        ng-class="{'active': item === hateoas.selected}">
        <td ng-repeat="column in hateoas.template.data"
          ng-if="!column.data"
          sortable="column.name">
          {{ item[column.name] | formatter:column }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
