<div ng-controller="UserOverviewController as user">
	<div class="row">
		<div class="col-md-8">
			<h1 id="Title">
				{{user.title}}
			</h1>
		</div>
		<div class="pull-right">
			<br/>
			<div id="Controls" class="align-right">
				<hateoas-controls
					ng-if='user.allow'
					data-template='user.template'
					data-href='{{user.resource.href}}'
					data-slug='{{user.resource.slug}}'
					data-permissions="user.allow"
					data-item='user.resource.items'>
				</hateoas-controls>
			</div>
		</div>
	</div>
	<hr/>
	
	<div class="row">
		<!-- List User Info -->
		<div class="col-md-4">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">User Information</h3>
				</div>
				<div class="panel-body">
					<simple-table 
						rows="user.userInfo.rows"
						columns="user.userInfo.columns" 
						table-data="user.userInfo.tableData">
					</simple-table>
				</div>
			</div>
		</div>
		<!-- List User Studies --> 
		<div class="col-md-8">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Studies</h3>
				</div>
				<div class="panel-body">
					<table class="table table-hover">
						<thead>
							<tr>
								<th ng-repeat="col in user.collectionCentres.columns">
									{{col.title}}
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="row in user.collectionCentres.tableData">
								<td>{{row.name}}</td>
								<td>
									<select-loader
										url="user"
										is-atomic="true"
										is-disabled="true"
										values="row.contact"
										labels="prefix firstname lastname"
										output-properties="id">
									</select-loader>
								</td>
								<td>{{row.coordinators_count}}</td>
								<td>{{row.subjects_count}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
