<table id="Collection" ng-table="hateoas.tableParams" class="table">
  <thead>
    <tr>
      <th ng-repeat="column in hateoas.template.data"
        ng-if="!column.data"
        class="text-center sortable" ng-class="{
          'sort-asc': hateoas.tableParams.isSortBy(column.name, 'asc'),
          'sort-desc': hateoas.tableParams.isSortBy(column.name, 'desc')
        }" 
        ng-click="hateoas.tableParams.sorting(column.name, hateoas.tableParams.isSortBy(column.name, 'asc') ? 'desc' : 'asc')">
        {{ column.prompt }}
      </th>
      <th ng-if="hateoas.template.rel == 'form'">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in $data"
      ng-click="hateoas.select(item)"
      ng-class="{'active': item === hateoas.selected}">
      <td ng-repeat="column in hateoas.template.data"
        ng-if="!column.data"
        sortable="column.name">
        {{ item[column.name] | formatter:column }}
      </td>
      <td ng-if="hateoas.template.rel == 'form'">
        <button type="button" class="btn btn-default"
          ng-if="item.form_type !== 'system'"
          form-popup template="item" on-submit="actions.ok()" on-cancel="actions.cancel()">
          <i class="fa fa-pencil"></i>
          Complete
        </button>
      </td>
    </tr>
  </tbody>
</table>
