<!DOCTYPE html>
<html ng-app="dados" ng-controller="DadosController as dados">
  <head>
    <title ng-bind="pageTitle"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
    <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>
    <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
    <script type="text/javascript" src="<%= file %>"></script><% }); %>
  </head>
  <body dados-status dados-error>
    <dados-header submenu="dados.submenu"></dados-header>

  	<div ui-view ng-cloak></div>
    <footer class="footer">
      <div class="container">
        <div class="footer-inner">
          <p>
            &copy; 2015 <a href="https://dados.technainstitute.com/stash/projects/DAD/repos/dados-client">Techna Institute</a>.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
