/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;
@fa-font-path:   "../assets/";
@icon-font-path: "../assets/";

/**
 * Colour Variables
 */
@headerColour: #00538B;
@menuColour: #3B7EAC;
@menuTextActive: #E79949;
@menuTabActive: #8081B2;