/**
 * These are the variables used throughout the application. This is where 
 * overwrites that are not specific to components should be maintained.
 */

/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;
@fa-font-path:   "../assets/";
@icon-font-path: "../assets/";

/**
 * Colour Variables
 */
@headerColour: rgb(0, 83, 139);
@menuColour: rgb(59, 126, 172);
@menuTextActive: rgb(128, 129, 178);
@menuTabActive: rgb(231, 153, 73);

/**
 * Overriden Bootstrap Variables
 */
@navbar-default-bg: rgb(0, 83, 139);
@navbar-default-link-color: white;
@navbar-default-link-hover-color: rgb(128, 129, 178);
@navbar-default-link-hover-bg: rgba(0, 0, 0, 0);
@navbar-default-link-active-color: rgb(231, 153, 73);
@navbar-default-link-active-bg: rgb(128, 129, 178);